WEEK 4/LAB4/n8n_workflows/workflow_1_pr_ingestion.json
{
  "name": "Workflow 1 — PR Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pr-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-pr",
      "name": "Webhook: Receive PR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\nconst required = ['pr_id','requester_name','requester_email','description','category','amount','currency','cost_center'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error('Missing required fields: ' + missing.join(', '));\n}\n\nreturn [{\n  json: {\n    pr_id: body.pr_id,\n    requester_name: body.requester_name,\n    requester_email: body.requester_email,\n    description: body.description,\n    category: body.category,\n    preferred_supplier: body.preferred_supplier ?? null,\n    amount: parseFloat(body.amount),\n    currency: body.currency ?? 'EUR',\n    cost_center: body.cost_center,\n    urgency: body.urgency ?? 'normal',\n    required_by_date: body.required_by_date ?? null,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-parse-pr",
      "name": "Parse & Validate PR Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/agent/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-call-langgraph",
      "name": "HTTP: Send PR to LangGraph Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const pr = $('Parse & Validate PR Fields').first().json;\nconst agentResponse = $input.first().json;\n\nreturn [{\n  json: {\n    pr_id: pr.pr_id,\n    received_at: pr.received_at,\n    tier: agentResponse.tier,\n    compliance_status: agentResponse.compliance_status,\n    routing_decision: agentResponse.routing_decision,\n    agent_reasoning: agentResponse.reasoning,\n    logged_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-audit-log",
      "name": "Build Audit Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', pr_id: $('Parse & Validate PR Fields').first().json.pr_id, tier: $('HTTP: Send PR to LangGraph Agent').first().json.tier }) }}"
      },
      "id": "node-respond",
      "name": "Respond to P2P Tool",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook: Receive PR": {
      "main": [[{ "node": "Parse & Validate PR Fields", "type": "main", "index": 0 }]]
    },
    "Parse & Validate PR Fields": {
      "main": [[{ "node": "HTTP: Send PR to LangGraph Agent", "type": "main", "index": 0 }]]
    },
    "HTTP: Send PR to LangGraph Agent": {
      "main": [[{ "node": "Build Audit Log Entry", "type": "main", "index": 0 }]]
    },
    "Build Audit Log Entry": {
      "main": [[{ "node": "Respond to P2P Tool", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Entry point. Receives a Purchase Request from the P2P tool via webhook, validates required fields, forwards to the LangGraph agent, and logs the routing decision."
  }
}
