WEEK 4/EXTRA 3/workflows/daily_data_fetcher.json
{
  "name": "Daily Data Fetcher (Error Handling + Retry)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/users/octocat",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        },
        "responseFormat": "json"
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Fetch GitHub User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-login",
              "name": "login",
              "value": "={{ $json.login }}",
              "type": "string"
            },
            {
              "id": "assign-name",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "assign-public_repos",
              "name": "public_repos",
              "value": "={{ $json.public_repos }}",
              "type": "number"
            },
            {
              "id": "assign-fetched_at",
              "name": "fetched_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Process Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-err-title",
              "name": "alert_title",
              "value": "🚨 Workflow Failed: Daily Data Fetcher",
              "type": "string"
            },
            {
              "id": "assign-err-node",
              "name": "failed_node",
              "value": "={{ $json.error?.node?.name ?? 'Unknown Node' }}",
              "type": "string"
            },
            {
              "id": "assign-err-msg",
              "name": "error_message",
              "value": "={{ $json.error?.message ?? $json.message ?? 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "assign-err-time",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-err-status",
              "name": "status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-notif",
              "name": "notification",
              "value": "={{ $json.alert_title }}\nNode: {{ $json.failed_node }}\nError: {{ $json.error_message }}\nTime: {{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "Log Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch GitHub User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub User": {
      "main": [
        [
          {
            "node": "Process Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["error-handling", "retry", "lab"],
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
