WEEK 4/EXTRA 3/workflows/daily_summary_generator.json
{
  "name": "Daily Summary Generator (Scheduled + Idempotency)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "22222222-0000-0000-0000-000000000001",
      "name": "Schedule Trigger (Daily 9AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-today",
              "name": "today",
              "value": "={{ $now.toISO().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000002",
      "name": "Set Today Date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/users/octocat",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 5000
          }
        },
        "responseFormat": "json"
      },
      "id": "22222222-0000-0000-0000-000000000003",
      "name": "Fetch Daily Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-record-id",
              "name": "record_id",
              "value": "={{ $('Set Today Date').item.json.today }}",
              "type": "string"
            },
            {
              "id": "assign-login",
              "name": "login",
              "value": "={{ $json.login }}",
              "type": "string"
            },
            {
              "id": "assign-repos",
              "name": "public_repos",
              "value": "={{ $json.public_repos }}",
              "type": "number"
            },
            {
              "id": "assign-followers",
              "name": "followers",
              "value": "={{ $json.followers }}",
              "type": "number"
            },
            {
              "id": "assign-fetched",
              "name": "fetched_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000004",
      "name": "Shape Summary Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-duplicate",
              "leftValue": "={{ $json.record_id }}",
              "rightValue": "={{ $('Set Today Date').item.json.today }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000005",
      "name": "Already Exists Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-skip-msg",
              "name": "message",
              "value": "={{ 'Skipped — record for ' + $json.record_id + ' already exists. Idempotency check passed.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000006",
      "name": "Skip (Already Exists)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-save-msg",
              "name": "message",
              "value": "={{ 'Saved new record for ' + $json.record_id }}",
              "type": "string"
            },
            {
              "id": "assign-save-data",
              "name": "saved_data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000007",
      "name": "Append New Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-sched-err-title",
              "name": "alert_title",
              "value": "🚨 Scheduled Workflow Failed: Daily Summary Generator",
              "type": "string"
            },
            {
              "id": "assign-sched-err-msg",
              "name": "error_message",
              "value": "={{ $json.error?.message ?? $json.message ?? 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "assign-sched-err-time",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-sched-err-date",
              "name": "run_date",
              "value": "={{ $('Set Today Date').item.json.today }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000008",
      "name": "Format Scheduled Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 9AM)": {
      "main": [
        [
          {
            "node": "Set Today Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Today Date": {
      "main": [
        [
          {
            "node": "Fetch Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Data": {
      "main": [
        [
          {
            "node": "Shape Summary Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Scheduled Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Summary Record": {
      "main": [
        [
          {
            "node": "Already Exists Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Exists Today?": {
      "main": [
        [
          {
            "node": "Skip (Already Exists)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["scheduled", "idempotency", "error-handling", "lab"],
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
